*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F6F6;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
}

h1{
  font-size: 124px;
  font-family: 'SF Pro', sans-serif;
    background-image: linear-gradient(to bottom, #5d4588, #89a9c7);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
  font-weight: bold;
}

h2{
  font-size: 84px;
  font-family: 'SF Pro', sans-serif;
  background-image: linear-gradient(to bottom, #5d4588, #89a9c7);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
  font-weight: bold;
}

h3{
  font-size: 56px;
  font-family: 'SF Pro', sans-serif;
  color: black;
  font-weight: 400;
}

h4{
    font-size: 22px;
    font-family: 'SF Pro', sans-serif;
    color: black;
    font-weight: 400;
}

h5{
    font-size: 18px;
    font-family: 'SF Pro', sans-serif;
    color: black;
    font-weight: 400;
}

p{
  font-size: 12px;
  font-family: 'SF Pro', sans-serif;
  color: Black;
}

.BlockTitle{
  width: auto;
  padding-top: 17px;
  padding-bottom: 16px;
  background-color: white;
  border-radius: 14px;
  text-align: center;
}

@font-face {
  font-family: 'Lexend Peta';
  src: url('./fonts/LexendPeta-Regular.woff2') format('woff2'),
       url('./fonts/LexendPeta-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.LogoText{
  font-size: 24px;
  font-family: 'Lexend Peta', sans-serif;
  font-weight: 400;
}

section{
    border-radius: 16px;
    background-color: white;
    height: 82vh;
    margin-top: 6px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 85vh; 
    overflow: visible; 
}

.AiBlockText{
    text-align: center;
    padding-top: 40px;
}

.AiBlockImage {
  position: relative;
  margin-top: 10vh;
  margin-left: -8vw;
}

.swiper-container {
    /* width: 100%; */
    /* max-width: 400px;
    height: 600px; */
    /* margin: 50px auto; */
}

.AiBlockStartImage{
  width: 80vw;
  height: 55vh;
  border-radius: 12px;
  transform: rotate(-15deg);
  z-index: 2;
  object-fit: cover;
  position: absolute;
  top: -2vh;
  left: 8vw;
}

.AiBlockBackImage{
  position: absolute;
  height: 45vh;
  width: 70vw;
  top: 3vh;
  left: 60vw;
  transform: rotate(16deg);
  z-index: 1;
  object-fit: cover;
  border-radius: 20px;
}

.ButtonSectionBlock{
    margin-top: 6px;
    margin-bottom: 6px;
    height: auto;
}
.ButtonNext{
    border-radius: 14px;
    width: auto;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    background: linear-gradient(90deg, #a8ddff, #e3a8c7);
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.2s;
}

.ButtonNext h4{
    color: white;
}

.SafetyBlock{
    text-align: center;
    padding-top: 22px;
}

.SafetyBlockTextMinor{
    padding-top: 1vh;
}

.SafetyBlockImage{
    display: flex;
    padding-top: 56px;
}

.SafetyImage{
    width: 22vh;
    height: 60vh;
}

.SafetyBlockImageLeft{
    transform: rotate(8deg);
    padding-right: 6px;
    border-radius: 16px 0px 0px 16px;
}

.SafetyBlockImageRight{
    transform: rotate(8deg);
    border-radius: 0px 16px 16px 0px;
}

.EaseSectionBlock{
    padding-top: 1vh;
    padding-bottom: 4vh;
    text-align: center;
    display: flex;          
    flex-direction: column;
    background-image: url(https://ivankomendantov1881.github.io/AppRels/img/Frame%2020.jpg);
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
}

.EaseBlockTextMinor{
  margin: 0 auto;
  text-align: center; 
  margin-top: auto;
  color: white;
}
