*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
      background: var(--tg-theme-bg-color);
      color: var(--tg-theme-text-color);
      font-family: sans-serif;
      padding: 20px;
    }
    button {
      width: 100%;
      padding: 12px;
      font-size: 18px;
      border-radius: 10px;
      border: none;
    }